* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.person {
  background: #eeeeee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.3rem;
}
